// Dynamic: dynamic assignment of resources to run on slurm cluster
// Date: 14/02/2024
// Author: Mahmoud Ahmed <mahmoud.ahmed@icr.ac.uk>

process {
    withLabel: simple {
        cpus = { Math.max(1, 1 * task.attempt) }
        time = { 1.hour * task.attempt }
        executor = 'slurm'
        maxRetries = 3
    }
    withLabel: heavy {
        cpus = { Math.max(1, 4 * task.attempt) }
        time = { 4.hour * task.attempt }
        executor = 'slurm'
        maxRetries = 3
    }
    withLabel: max {
        cpus = { Math.max(1, 4 * task.attempt) }
        time = { 8.hour * task.attempt }
        executor = 'slurm'
        maxRetries = 3
    }
}